body {
    margin: 0;
    background: rgb(29,133,133);
    background: linear-gradient(180deg, rgba(29,133,133,1) 0%, rgba(28,4,58,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}